Log in fool.


<xmp>    __ ,                           __
  ,-| ~               ,,         ,-||-,                       ,
 ('||/__,         _   ||        ('|||  )                     ||
(( |||  |  /'\\  < \, ||       (( |||--)) \\ \\  _-_   _-_, =||=
(( |||==| || ||  /-|| ||       (( |||--)) || || || \\ ||_.   ||
 ( / |  , || || (( || ||        ( / |  )  || || ||/    ~ ||  ||
  -____/  \\,/   \/\\ \\         -____-\\ \\/\\ \\,/  ,-_-   \\,
</xmp>

<form action="index.html" method="post">
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[:username]" value="">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[:password]" value="">
  </p>
  <input type="submit" name="name" value="submit">
</form>
