<xmp>    __ ,                           __
  ,-| ~               ,,         ,-||-,                       ,
 ('||/__,         _   ||        ('|||  )                     ||
(( |||  |  /'\\  < \, ||       (( |||--)) \\ \\  _-_   _-_, =||=
(( |||==| || ||  /-|| ||       (( |||--)) || || || \\ ||_.   ||
 ( / |  , || || (( || ||        ( / |  )  || || ||/    ~ ||  ||
  -____/  \\,/   \/\\ \\         -____-\\ \\/\\ \\,/  ,-_-   \\,
</xmp>

<% button_text = action == "login" ? "Log In" : "Sign Up" %>
<% form_destination = action == "login" ? session_index_url : users_url %>

<form action= "<%= form_destination %>" method="post">
  <%= auth_token_input %>
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]" value="">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]" value="">
  </p>
  <input class="SignFormSubmit" type="submit" name="name" value="<%= button_text %>">
</form>
