body {
  background-color: #eee;
  font-family: 'Archivo Narrow', sans-serif;
}

.header {
  position: relative;
  display: block;
  top: 0px;
  font-size: 16px;
  font-weight: 700;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 0px 0px 1px;
  z-index: 1;
}

.header a {
  display: block;
  padding: 10px 20px;
  transition: .5s;
}

.nhat_bar {
  width: 1200px;
  margin: 0px auto;
  border-right: 1px solid #CCC;
}

.header-logo {
  float: left;
  font-weight: 700;
  transition: .35s;
  padding-top: 10px;
  margin-top: -10px;
  width: 150px;
  height: auto;
}

.header-logo:hover {
  transform: scale(1.1);
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: -1px;
  transition: .35s;
}

.header-list > li:hover {
  background: #000;
  transform: translateY(10px);
  z-index: 1000;
  box-shadow: 3px 3px 7px rgba(0,0,0,.25);
}

/* Content */

.content {
  position: relative;
  display: block;
  margin: 0 auto;
  background: #fff;
  width: 1200px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-bottom: 20px;
  padding-right: 80px;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  width: 1px;
  background: #ccc;
}

.content-sidebar {
  float: left;
  width: 320px;
  min-height: 200px;
  padding: 20px;
}

.content-main {
  width: 827px;
  min-height: 200px;
  padding-right: 80px;
  padding-bottom: 20px;

}

/* Footer */

.footer {
  position: relative;
  display: block;
  top: 0px;
  font-size: 14px;
  color: black;
  border-style: solid;
  border-width: 0px 0px 0px;
  margin-bottom: 100px;
  z-index: 1;
}

.footer a {
  display: block;
  padding: 10px 20px;
}

.footer-nav {
  width: 1200px;
  margin: 0px auto;
  background-color: white;
  border: 1px solid #CCC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-nav-copyright {
  float: left;
  display: block;
  padding: 10px 20px;
}

.footer-nav-list {
  float: right;
}

.footer-nav-list > li {
  float: left;
  margin-right: -1px;
}

.footer-nav-list > li:hover {
  color: grey;
}

/* Sidebar */

.avatar-container {
  display: block;
  margin-top: 0px;
  border: 1px solid #000;
  background: white;
  border-radius: 5px;
  position: relative;
  transition: .1s;
  width: 200px;
  height: 200px;
}

.avatar-container img {
  position: absolute;
}

.profile-picture:hover {
  transform: scale(1.03);
}

.profile-info {
  margin: 20px 0;
}

.profile-info > h2 {
  font-weight: 700;
  font-size: 24px;
}

.profile-info > p {
  margin: 20px 0;
}

.profile-nav {
  margin: 20px 0;
}

.profile-nav > li {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 5px;
  font-weight: 700;
  width: 60%;
}

.profile-nav > li:first-child {
  border-top: 1px solid #ccc;
}

.hp-empty {
  margin: 5px auto 5px auto;
  position: relative;
  display: block;
	width: 200px;
	height: 20px;
  border: 1px solid black;
	background: white;
  border-radius: 10px;
}

.lifebar
{
  background-color: green;
  width: 90%;
  height: 100%;
  border-radius: 9px;
}

.exp-empty {
  margin: 5px auto 5px auto;
  position: relative;
  display: block;
	width: 200px;
	height: 20px;
  border: 1px solid black;
	background: white;
  border-radius: 10px;
}

.expbar
{
  background-color: yellow;
  height: 100%;
  border-radius: 9px;
}

.exp-empty .tag {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  margin: -50px auto 0px auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

.exp-empty:hover .tag {
  display: block;
}

/* Main - Card */
#card {
  margin: 0px auto;
  background-image: url(http://orig15.deviantart.net/3615/f/2011/162/5/d/pokemon_tcg_water_texture_rip_by_ilkcmp-d3inhf4.png);
  display: flex;
  flex-direction: column;
	width: 300px;
	height: 500px;
  border: 10px solid black;
  background-color: purple;
  border-radius: 10px;
  padding: 10px;
}

#goal-title {
  text-align: center;
  display: block;
  margin: auto;
  border: 1px solid red;
  font-size: 24px;
  border-radius: 10px;
  background-color: blue;
  width: 98%;
  padding: 3px;
}

#goal-picture {
  background-color: green;
  padding: 10px;
  display: block;
  margin: auto;
  width: 90%;
  height: 20%
}

#goal-add {
  background-color: yellow;
  padding: 10px;
  display: block;
  margin: auto;
  width: 95%;
  border-radius: 10px;
}

#goals {
  margin: 0px auto;
  overflow: auto;
  width: 97%;
  height: 75%;
  border: 1px solid blue;
  background-color: pink;
}

#goals::-webkit-scrollbar {
    width: 0px;
}

#goal-li {
  margin: auto;
}

#hidden_button {
  display: none;
}

.goal-element {
  transition: .3s;
}

.goal-element:hover #hidden_button {
  display: inline-block;
  transform: scale(1.1);
}

/* Forms */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

.styled_form {
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

/* Shop */

.shop-header {
  margin: 0 50%;
  width: 200px;
  height: 200px;
  position: relative;
  background-image: url("http://i64.tinypic.com/24mxlko.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
}

.shop-header img {
  position: relative;
  height: 200px;
  width: auto;
}

.shop-header h2 {
  position: absolute;
  z-index: 100;
  top: 55%;
  right: 25%;
  font-weight: 700;
  font-size: 50px;
}

.shop-list {
  margin: 20px 27%;
  position: relative;
  padding: 0 0 0 50px;
  display: block;
  width: 65%;
  height: 600px;
  background-color: green;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}

.shop-list::-webkit-scrollbar {
  width: 0px;
}

.shop-list .item {
  float: left;
  display: block;
  margin: 20px 30px;
  height: 200px;
  width: 155px;
  padding: 10px;
  background-color: blue;
  border: 5px solid black;
  transition: .3s;
  border-radius: 10px;
}

.shop-list .item:hover {
  transform: scale(1.05);
  cursor: pointer;
}


.shop-list .item picture {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 125px;
  width: 125px;
  background-color: white;
  border: 5px solid black;
}

.shop-list .item .container {
  margin: 15% 37%;
}

.shop-list .item tag {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  margin: -50px auto 0px auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

.shop-list .item:hover tag {
  display: block;
}
