<!DOCTYPE html>
<html>
<head>
  <title>GoalQuest</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="./../assets/gq_logo.png">
  <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>


</body>
</html>
